<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>duongnt1</string>
		<key>password</key>
		<string>duongnt1</string>
	</dict>
	<dict>
		<key>username</key>
		<string>duongnt2</string>
		<key>password</key>
		<string>duongnt2</string>
	</dict>
	<dict>
		<key>username</key>
		<string>duongnt3</string>
		<key>password</key>
		<string>duongnt3</string>
	</dict>
	<dict>
		<key>username</key>
		<string>duongnt4</string>
		<key>password</key>
		<string>duongnt4</string>
	</dict>
	<dict>
		<key>username</key>
		<string>duongnt5</string>
		<key>password</key>
		<string>duongnt5</string>
	</dict>
</array>
</plist>
