<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>An</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An1</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An2</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An3</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An4</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An5</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An6</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An7</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An8</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An9</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An10</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An11</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An12</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An13</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An14</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An15</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An16</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An17</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An18</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An19</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An20</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An21</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An22</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An23</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An24</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An25</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An26</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An27</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An28</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An29</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An30</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>An31</string>
		<key>avatar</key>
		<string>avatar.jpg</string>
	</dict>
</array>
</plist>
