<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A Nguyen</string>
	<string>B Ngo</string>
	<string>C Tran</string>
	<string>D Dang</string>
	<string>E Le</string>
	<string>H Ho</string>
	<string>K Hoang</string>
	<string>L Le</string>
</array>
</plist>
