<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A Nguyen Skype</string>
	<string>B Tran Skype</string>
	<string>C Ho Skype</string>
	<string>D Dang Skype</string>
	<string>E Lam Skype</string>
</array>
</plist>
