<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bò</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trâu</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ngựa</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dế</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heo</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chuột</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chó</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mèo</string>
		<key>description</key>
		<string>sub title</string>
        <key>avatar</key>
        <string>avatar</string>
	</dict>
</array>
</plist>
