<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Văn Tèo</string>
	<string>Lung Linh</string>
	<string>Trẻ Trung</string>
	<string>Líu Lo</string>
	<string>Mộng Mơ</string>
</array>
</plist>
