<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Mao Trạch Đông</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Lưu Thiếu Kỳ</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Lý Tiên Niệm</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Dương Thượng Côn</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Giang Trạch Dân</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Hồ Cẩm Đào</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Tập Cận Bình</string>
    </dict>
</array>
</plist>
