<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>tu</string>
		<key>avatar</key>
		<string>tu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tuananh</string>
		<key>avatar</key>
		<string>tuananh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>vu</string>
		<key>avatar</key>
		<string>vu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>thanh</string>
		<key>avatar</key>
		<string>thanh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>vien</string>
		<key>avatar</key>
		<string>vien</string>
	</dict>
	<dict>
		<key>name</key>
		<string>duong</string>
		<key>avatar</key>
		<string>duong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hung</string>
		<key>avatar</key>
		<string>hung</string>
	</dict>
    <dict>
        <key>name</key>
        <string>ronaldo</string>
        <key>avatar</key>
        <string>ronaldo</string>
    </dict>
    <dict>
        <key>name</key>
        <string>messi</string>
        <key>avatar</key>
        <string>messi</string>
    </dict>
    <dict>
        <key>name</key>
        <string>rooney</string>
        <key>avatar</key>
        <string>rooney</string>
    </dict>
    <dict>
        <key>name</key>
        <string>pogba</string>
        <key>avatar</key>
        <string>pogba</string>
    </dict>
    <dict>
        <key>name</key>
        <string>tu</string>
        <key>avatar</key>
        <string>tu</string>
    </dict>
    <dict>
        <key>name</key>
        <string>tuananh</string>
        <key>avatar</key>
        <string>tuananh</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vu</string>
        <key>avatar</key>
        <string>vu</string>
    </dict>
    <dict>
        <key>name</key>
        <string>thanh</string>
        <key>avatar</key>
        <string>thanh</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vien</string>
        <key>avatar</key>
        <string>vien</string>
    </dict>
    <dict>
        <key>name</key>
        <string>duong</string>
        <key>avatar</key>
        <string>duong</string>
    </dict>
    <dict>
        <key>name</key>
        <string>hung</string>
        <key>avatar</key>
        <string>hung</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ronaldo</string>
        <key>avatar</key>
        <string>ronaldo</string>
    </dict>
    <dict>
        <key>name</key>
        <string>messi</string>
        <key>avatar</key>
        <string>messi</string>
    </dict>
    <dict>
        <key>name</key>
        <string>rooney</string>
        <key>avatar</key>
        <string>rooney</string>
    </dict>
    <dict>
        <key>name</key>
        <string>pogba</string>
        <key>avatar</key>
        <string>pogba</string>
    </dict>
    <dict>
        <key>name</key>
        <string>tu</string>
        <key>avatar</key>
        <string>tu</string>
    </dict>
    <dict>
        <key>name</key>
        <string>tuananh</string>
        <key>avatar</key>
        <string>tuananh</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vu</string>
        <key>avatar</key>
        <string>vu</string>
    </dict>
    <dict>
        <key>name</key>
        <string>thanh</string>
        <key>avatar</key>
        <string>thanh</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vien</string>
        <key>avatar</key>
        <string>vien</string>
    </dict>
    <dict>
        <key>name</key>
        <string>duong</string>
        <key>avatar</key>
        <string>duong</string>
    </dict>
    <dict>
        <key>name</key>
        <string>hung</string>
        <key>avatar</key>
        <string>hung</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ronaldo</string>
        <key>avatar</key>
        <string>ronaldo</string>
    </dict>
    <dict>
        <key>name</key>
        <string>messi</string>
        <key>avatar</key>
        <string>messi</string>
    </dict>
    <dict>
        <key>name</key>
        <string>rooney</string>
        <key>avatar</key>
        <string>rooney</string>
    </dict>
    <dict>
        <key>name</key>
        <string>pogba</string>
        <key>avatar</key>
        <string>pogba</string>
    </dict>
</array>
</plist>
