<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Duong0</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong1</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong2</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong3</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong4</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong5</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong6</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong7</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong8</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong9</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong10</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong11</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong12</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong13</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong14</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong15</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong16</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong17</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong18</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong19</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong20</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong21</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong22</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong23</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong24</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong25</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong26</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong27</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong28</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong29</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong30</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Duong31</string>
            <key>avatar</key>
            <string>avatar</string>
        </dict>
    </array>
</plist>
