<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Dog</string>
		<key>sub_title</key>
		<string>Sub Title</string>
		<key>avatar</key>
		<string>animal</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Cat</string>
        <key>sub_title</key>
        <string>Sub Title</string>
        <key>avatar</key>
        <string>animal</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Chicken</string>
        <key>sub_title</key>
        <string>Sub Title</string>
        <key>avatar</key>
        <string>animal</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Frog</string>
        <key>sub_title</key>
        <string>Sub Title</string>
        <key>avatar</key>
        <string>animal</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Bird</string>
        <key>sub_title</key>
        <string>Sub Title</string>
        <key>avatar</key>
        <string>animal</string>
    </dict>
</array>
</plist>
