<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>username</key>
		<string>tuandq</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Dang Quang Tuan</string>
	</dict>
	<key>2</key>
	<dict>
		<key>username</key>
		<string>tien</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Tien</string>
	</dict>
	<key>3</key>
	<dict>
		<key>username</key>
		<string>trung</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Dang Quang Tuan</string>
	</dict>
	<key>4</key>
	<dict>
		<key>username</key>
		<string>thai</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Thai</string>
	</dict>
	<key>5</key>
	<dict>
		<key>username</key>
		<string>dung</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Dung</string>
	</dict>
	<key>6</key>
	<dict>
		<key>username</key>
		<string>tuanN</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Tuan Nguyen</string>
	</dict>
	<key>7</key>
	<dict>
		<key>username</key>
		<string>nga</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Nga</string>
	</dict>
	<key>8</key>
	<dict>
		<key>username</key>
		<string>ngoc</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Ngoc</string>
	</dict>
	<key>9</key>
	<dict>
		<key>username</key>
		<string>khoa</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Khoa</string>
	</dict>
	<key>10</key>
	<dict>
		<key>username</key>
		<string>hai</string>
		<key>password</key>
		<string>123456</string>
		<key>avatar</key>
		<string>avatar.png</string>
		<key>fullname</key>
		<string>Hai</string>
	</dict>
</dict>
</plist>
