<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>exercise 01</string>
		<key>description</key>
		<string>Auto Layout 1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 02</string>
		<key>description</key>
		<string>Auto Layout 2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 03</string>
		<key>description</key>
		<string>Auto Layout 3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 04</string>
		<key>description</key>
		<string>Auto Layout 4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 05</string>
		<key>description</key>
		<string>Auto Layout 5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 06</string>
		<key>description</key>
		<string>Auto Layout 6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 07</string>
		<key>description</key>
		<string>Auto Layout 7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 08</string>
		<key>description</key>
		<string>Auto Layout 8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 09</string>
		<key>description</key>
		<string>Auto Layout 9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 10</string>
		<key>description</key>
		<string>Auto Layout 11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 11</string>
		<key>description</key>
		<string>Auto Layout 10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 12</string>
		<key>description</key>
		<string>Auto Layout 12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Your Profile</string>
		<key>description</key>
		<string>Auto Layout 13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>exercise 14</string>
		<key>description</key>
		<string>Auto Layout 14</string>
	</dict>
</array>
</plist>
