<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>img1</string>
		<key>username</key>
		<string>tuananh</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img2</string>
		<key>username</key>
		<string>Mr.Tien</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img3</string>
		<key>username</key>
		<string>duong</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img4</string>
		<key>username</key>
		<string>Mr.Dai</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img5</string>
		<key>username</key>
		<string>thanh</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img6</string>
		<key>username</key>
		<string>vu</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img7</string>
		<key>username</key>
		<string>vien</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img8</string>
		<key>username</key>
		<string>tu</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img9</string>
		<key>username</key>
		<string>hung</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img10</string>
		<key>username</key>
		<string>hai</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img11</string>
		<key>username</key>
		<string>khanh</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img12</string>
		<key>username</key>
		<string>ngokhong</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img13</string>
		<key>username</key>
		<string>duongtang</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img14</string>
		<key>username</key>
		<string>batgioi</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img15</string>
		<key>username</key>
		<string>vuco</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img16</string>
		<key>username</key>
		<string>tudoi</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img17</string>
		<key>username</key>
		<string>trandan</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img18</string>
		<key>username</key>
		<string>raptor</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img19</string>
		<key>username</key>
		<string>theBlue</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img20</string>
		<key>username</key>
		<string>denvau</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img21</string>
		<key>username</key>
		<string>bien</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img22</string>
		<key>username</key>
		<string>proplayer</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img23</string>
		<key>username</key>
		<string>judan</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img24</string>
		<key>username</key>
		<string>jordan</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img25</string>
		<key>username</key>
		<string>nike</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img26</string>
		<key>username</key>
		<string>adidas</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img27</string>
		<key>username</key>
		<string>bitis</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img28</string>
		<key>username</key>
		<string>hunter</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img29</string>
		<key>username</key>
		<string>sony</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>img30</string>
		<key>username</key>
		<string>samsung</string>
	</dict>
</array>
</plist>
